---
import { SITE } from "src/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBox from "@components/Search";
import { allPosts } from "@utils/allPosts";

const searchList = allPosts
  .filter(({ frontmatter }) => !frontmatter.draft)
  .map((post) => ({
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    headings: post.getHeadings().map((h) => h.text),
    frontmatter: post.frontmatter,
  }));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBox client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
